/**
 * Reusable values
 */

$purple: md-color('deep-purple');
$black: #000000;
$blackHover: md-color('grey', '700');
$offwhite: #eeeeee;
$white: #ffffff;

$primary: $purple;

$base-unit: 8px;
$base-spacing: 2 * $base-unit;
