.btn {
    display: inline-block;
    padding: 6px 8px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    @include user-select-none;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    &.btn--icon {
        margin: 9px;
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    &.btn--snackbar {
        float: right;
        margin-top: 7px;
        color: $purple;
        font-weight: 600;
    }
}
