/**
 * Paper Card (pseudo)
 */

.card {
	display: block;
	position: relative;
	background: $white;
	border-radius: 2px;
	margin: 0 0 $base-spacing;
	padding: $base-spacing;
	@extend %shadow;
    transition: transform .2s, opacity .5s, visibility .5s;
    .card__row {
        display: block;
        position: relative;
        padding-left: 56px;
        height: 40px;
        margin-bottom: 16px;
        .card__name {
            font-size: 14px;
            font-weight: 600;
            text-overflow: ellipsis;
            margin-top: 5px;
            display: inline-block;
            max-width: 220px;
            white-space: nowrap;
            overflow: hidden;
        }
        .card__update {
            font-size: 12px;
            line-height: 16px;
        }
        .card__image {
            display: inline-block;
            width: 40px;
            height: 40px;
            pointer-events: none;
            border-radius: 20px;
            border: 1px solid #212121;
            position: absolute;
            left: 0;
        }
    }
    p {
        font-size: 14px;
        line-height: 18px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
    }
	h2 {
		margin-bottom: $base-spacing;
    }
    &.card--swipe.card--going-deleted {
        opacity: .2;
    }
    &.card--swipe {
        opacity: .9;
    }
    &.card--deleted {
        display: hidden;
    }
}