/**
 * Nav / Header
 */

$header-height: 7 * $base-unit;

.header {
	position: fixed;
	height: $header-height;
	width: 100%;
	padding: 0;
	left: 0;
	top: 0;
	background: $primary;
	@extend %shadow;
    z-index: 50;
    h1 {
        display: inline-block;
        margin: 0;
        padding: 0 $base-spacing + 1;
        font-size: 20px;
        line-height: $header-height;
        font-weight: 400;
        color: $white;
    }
    .header__menubar {
        nav {
            float: right;
            font-size: 100%;

            a {
                display: inline-block;
                height: $header-height;
                line-height: $header-height;
                padding: 0 $base-spacing;
                text-align: center;
                min-width: 50px;
                background: rgba($white, 0);
                will-change: background-color;
                text-decoration: none;
                color: $offwhite;
                &:hover,
                &:active
                &.active {
                    background: rgba($white, 0.3);
                }
            }
        }
    }
    .header__sidebar {
        .header__sidebar--content {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 4;
            top: 0;
            left: 0;
            opacity: .1;
            background-color: $offwhite;
            overflow-x: hidden;
            transition: .3s;
            &.header__sidebar--opened {
                width: 250px;
                opacity: 1;
            }
            .header__sidebar--top {
                background-color: md-color('grey', '500')
            }
            a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 20px;
                color: $black;
                display: block;
                transition: 0.3s;
            }
            a:hover {
                color: $blackHover;
            }
        }
        .btn.btn--icon {
            vertical-align: top;
        }
    }
    @media screen and (max-width: 401px) {
        nav a {
            padding: 0 $base-spacing/2;
            min-width: $base-spacing*2;
        }
    }
    @media screen and (max-width: 321px) {
        h1 {
            font-size: 18px;
        }
    }
    @media screen and (max-width: 600px) {
        .header__menubar {
            display: none;
        }
        .header__sidebar {
            display: initial;
        }
    }
    @media screen and (min-width: 600px) {
        .header__menubar {
            display: initial;
        }
        .header__sidebar {
            display: none;
        }
    }
}

.mask-modal {
    background-color: rgba(0,0,0,.5);
    height: 100%;
    left: 0;
    opacity: .1;
    visibility: hidden;
    top: 0;
    width: 100%;
    z-index: 3;
    position: fixed;
    transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);
    transform: translateZ(0);
    &.mask-modal--opened {
        opacity: 1;
        visibility: visible;
    }
}
