.loader {
    border: 4px solid #f5f5f5;
    border-radius: 50%;
    border-top: 4px solid #673ab7;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    margin: 20px auto;
}