/**
 * Base `page` styles
 */

.page {
	padding: $base-spacing;
	min-height: 100%;
    width: 100%;
    h1 {
        font-size: 20px;
        padding-bottom: 10px;
    }
	nav {
		margin: 0 $base-spacing/2;
		a {
			display: block
		}
	}
	@media screen and (max-width: 321px) {
		padding: $base-spacing $base-spacing/2;
	}
}
