.profile {
	display: block;
	position: relative;
	background: $white;
	border-radius: 2px;
	margin: 0 0 $base-spacing;
	@extend %shadow;
    transition: transform .2s, opacity .5s, visibility .5s;
    .profile__header {
        display: block;
        height: 150px;
        background: #642B73;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .profile__image {
        position: relative;
        height: 120px;
        >div {
            position: absolute;
            left: 0;
            right: 0;
            top: -90px;
            >img {
                margin: 0 auto;
                width: 180px;
                height: 180px;
                border-radius: 50%;
                display: block;
                border: 4px solid white;
                @extend %shadow;
            }
        }
    }
    .profile__title {
        text-align: center;
        display: block;
        padding: $base-spacing;
        h2 {
            font-size: 22px;
            font-weight: 600;
            padding-bottom: $base-spacing;
        }
        span {
            display: block;
            font-size: 18px;
            padding-bottom: $base-spacing/2;
        }
        p {
            font-size: 14px;
            padding-bottom: $base-spacing/2;
        }
    }
}