.snackbar {
    position: fixed;
    left: 50%;
    display: flex;
    bottom: 0px;
    z-index: 2900;
    visibility: hidden;
    transform: translate(-50%, 0px);
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, visibility 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    >div {
        background-color: rgba(0, 0, 0, 0.87);
        padding: 0px 24px;
        height: 48px;
        line-height: 48px;
        border-radius: 2px;
        max-width: 708px;
        min-width: 288px;
        width: auto;
        flex-grow: 0;
    }
    &.snackbar--opened {
        visibility: visible;
    }
    .snackbar__message {
        font-size: 14px;
        color: $white;
        opacity: 1;
        transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    }
    @media screen and (max-width: 630px) {
        >div {
            max-width: inherit;
            min-width: inherit;
            width: 100vw;
        }
    }
    @media screen and (max-width: 370px) {
        .snackbar__message {
            font-size: 12px;
        }
    }
}